<!DOCTYPE html>
<html>
  <head>
    <title>Just Reading</title>       
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">
  </head>
  <body>
      <div id="header">
        <div id="headerleft">
            <h1>Just Reading</h1>
        </div>
        <div id="headerright">
            <h3>Welcome <span id="player">{{player}}</span></h3>
        </div>
      </div>

      {{{body}}}
  </body>
</html>