<div id="game">
    <h4>In Room: {{roomcode}}</h4>
</div>

<ul id="messages"></ul>
<form id="form" action="">
    <input id="input" autocomplete="off" /><button>Chat</button>
</form>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/assets/scripts/home.js"></script>